<!-- Header/Barnav -->
<header>
  <div class="box">
      <img src="https://i.postimg.cc/RhgLZrmj/Artboard-1.png" alt="logo" class="logo">
      <input class="burger" type="checkbox">

      <nav>
      <div class="menu">
          <ul>
              <li><a [routerLink]="['/home']" >Home</a></li>
              <li><a [routerLink]="['/gallery']" >Gallery</a></li>
              <li><a [routerLink]="['/article']" >Articles</a></li>
              <li><a [routerLink]="['/shop']" >Shop</a></li>
              <li><a [routerLink]="['/contact']" >Contact</a></li>
          </ul>
      </div>
      </nav>
  </div>

</header>
