<!-- Header/Barnav -->
<header>
  <div class="box">
      <img src="https://i.postimg.cc/RhgLZrmj/Artboard-1.png" alt="logo" class="logo">
      <input class="burger" type="checkbox">

      <nav>
      <div class="menu">
          <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="articles.html">Articles</a></li>
              <li><a href="marketplace.html">Shop</a></li>
              <li><a href="contact.html">Contact</a></li>
          </ul>
      </div>
      </nav>
  </div>

</header>
