.contact-header p {
  padding-top: 2%;
  }

  .form-group {
  position: unset!important;
  }


  .encart-contact {
  display: flex;
  }

  .find-me-tittle {
  padding-left: 40%;
  }

  .part-contact {
  background-color: #262626;
  color: #FCFCFC;
  width: 50%;
  height: 400px;
  padding-left: 3%;
  }
  .Place1 {
  padding-top: 5%;
  }

  .Place2 {
  padding-left: 35%;
  }

  .Lieu {
  font-size: 20px;
  }

  .part-maps {
  width: 50%;
  }

  .part-maps iframe{
  border: none;
  }

  iframe {
  width: 100%;
  height: 100%
  }
