<!-- Section 3/Caroussel-Gallery -->
<section id="sectionIIIbis">

  <div class="wrap">
    <div id="arrow-left" class='arrow'></div>
      <div id='slider'>
          <div class="slide slide1">
              <div class="slide-content">
                  <span><a href="gallery.html">Nature</a></span>
              </div>
          </div>
          <div class="slide slide2">
              <div class="slide-content">
                  <span><a href="gallery.html">Portrait</a></span>
              </div>
          </div>
          <div class="slide slide3">
              <div class="slide-content">
                  <span><a href="gallery.html">City</a></span>
              </div>
          </div>
          <div class="slide slide4">
              <div class="slide-content">
                  <span><a href="gallery.html">Animals</a></span>
              </div>
          </div>
      </div>
      <div id="arrow-right" class='arrow'></div>
  </div>
</section>
